In [187]:
#P1
import math
fhand=open('CO-OPS__8729108__wl.csv') #opens file
count = 0
maxnum=0
for line in fhand:
    try:
        number = float(line.split(',')[1])
    except Exception:
        pass
    if number > maxnum: #tries to find the largest number by comparison
        maxnum = number
        line_num = count #stores the line of the largest number
    count += 1

print("The max water level is:", maxnum)
lines=open(file1).readlines() #reads all the lines
print(lines[line_num]) #prints the line info for the largest number
fhand.close()

The max water level is: 6.647
2018-10-10 18:06,6.647,0.561,1,0,0,0,p

In [2]:
#P2
import pandas as pd

df=pd.read_csv('CO-OPS__8729108__wl.csv') #reads in csv as a dataframe

df.nlargest(1,[' Water Level'])  #prints the largest water level

            Date Time   Water Level   Sigma   O   F   R   L  Quality
421  2018-10-10 18:06         6.647   0.561   1   0   0   0         p

In [4]:
#P3
import pandas as pd


df=pd.read_csv('CO-OPS__8729108__wl.csv') #read file
df2 = df[df.index % 6 == 0] #takes every 6th row using indexes

df2[[" Water Level"]]=df[[" Water Level"]].apply(pd.to_numeric)  #makes the water level column numeric
df2['diff'] = df2[' Water Level'] - df2[' Water Level'].shift(-1) #takes the difference by doing simple substraction but shifting the frame 
maxdiff=df2[['diff']].max() #finds the max difference and stores it
print('Max rise in water level is:',maxdiff) #prints highest difference in water level rise

Max rise in water level is: diff    0.935
dtype: float64